[user]
	email = upalbarua52@gmail.com
	name = Upal Barua
[credential]
	helper = store
[safe]
	directory = /run/media/upal/general-disk/job-hunting/raju-kancharla-assignment/client
	directory = /run/media/upal/general-disk/job-hunting/raju-kancharla-assignment/server
	directory = /run/media/upal/general-disk/my-portfolio
