binds {
    // === NIRI Controls ===
    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+L { move-column-right; }
    
    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }
    
    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }

    Mod+U { focus-workspace-down; }
    Mod+I { focus-workspace-up; }

    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+Ctrl+I { move-column-to-workspace-up; }

    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+I { move-workspace-up; }
        
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Shift+V { toggle-window-floating; }
    Mod+Ctrl+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }
    Mod+Shift+P { power-off-monitors; }
    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+Q repeat=false { close-window; }

    // === Volume and Brightness ===
    Mod+BracketRight allow-when-locked=true { spawn-sh "volume.sh -i"; }
    Mod+BracketLeft allow-when-locked=true { spawn-sh "volume.sh -d"; }
    Mod+BackSlash allow-when-locked=true { spawn-sh "volume.sh -m"; }

    Mod+Shift+BracketRight allow-when-locked=true { spawn-sh "brightness.sh -i"; }
    Mod+Shift+BracketLeft allow-when-locked=true { spawn-sh "brightness.sh -d"; }
    
    // === Programs ===
    Mod+Return { spawn "alacritty"; }
    Mod+Ctrl+O { spawn "obsidian"; } 
    Mod+Ctrl+A { spawn "anki"; } 
    Mod+Ctrl+Shift+E { spawn "thunar"; } 
    Mod+Ctrl+E { spawn-sh "$TERMINAL -e lfub"; } 
    Mod+Ctrl+B { spawn-sh "$BROWSER"; } 
    Mod+Ctrl+T { spawn-sh "$TERMINAL --class=Btop -e btop"; } 
    Mod+Ctrl+W { spawn-sh "$BROWSER --app=https://web.whatsapp.com/"; } 
    Mod+Ctrl+G { spawn-sh "$BROWSER --app=https://gemini.google.com/"; } 

    // === Rofi ===
    Mod+E { spawn-sh "rofi -show emoji -modi emoji"; } 
    Mod+V { spawn-sh "cliphist list | rofi -dmenu -p 'Clipboard' -display-columns 2 | cliphist decode | wl-copy "; } 
    Mod+P { spawn-sh "rofi -show run"; }
    Mod+D { spawn-sh "rofi -show drun"; }
    Mod+Shift+T { spawn-sh "rofi-quick-toggles.sh"; } 
    Mod+Shift+M { spawn-sh "rofi-music.sh"; } 
    Mod+Escape { spawn-sh "rofi-session.sh"; } 
    Mod+Shift+C { spawn-sh "rofi -show calc -modi calc -no-show-match -no-sort"; } 
    Mod+Shift+B { spawn-sh "rofi-bluetooth.sh"; } 

    // === Screenshots ===
    Print { screenshot-screen; } 
    Shift+Print { screenshot; } 

    Mod+Ctrl+Space { spawn-sh "random-wallpaper.sh"; } 
}
