layout {
    background-color "transparent"

    gaps 5
    center-focused-column "never"
    default-column-width { proportion 0.5; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        width 1.5
        active-color "#524f67"
        inactive-color "#21202e"
        urgent-color "#524f67"
    }

    shadow {
      on
    }
}
