@import "colors.css";

* {
  all: unset;

  margin: 0;
  padding: 0;
  min-height: 0;
  border: none;
  border-radius: 0;

  font-family: "Iosevka Nerd Font Propo";
  font-size: 13px;
}

window#waybar > box {
  background-color: @background;
  color: @foreground;
  padding: 0.5em 0.75em;
}

#workspaces button {
  padding: 0.2em 0.5em;
  margin: 0 0.25em;
  border-radius: 0em;
  background-color: @secondary;
}

#workspaces button.empty {
  background-color: @background;
}

#workspaces button.active {
  background-color: @accent;
  color: @background;
  font-weight: bold;
}
