include "modules/input.kdl"
include "modules/output.kdl"
include "modules/layout.kdl"
include "modules/window-rules.kdl"
include "modules/binds.kdl"
include "modules/gestures.kdl"
include "modules/layer-rule.kdl"
include "modules/overview.kdl"
include "modules/animations.kdl"
include "modules/cursor.kdl"

prefer-no-csd
// spawn-sh-at-startup "~/.config/niri/scripts/autostart.sh"
spawn-sh-at-startup "noctalia"
screenshot-path "~/Pictures/screenshots/screenshot-%Y-%m-%d-%H:%M:%S.png"

hotkey-overlay {
    skip-at-startup
}
